@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
    margin: 0;
    width:100vw;
    overflow-x:hidden;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green: #06ce78;
    --gray: #2f372c;
    --light-gray: #50554e;
}

* { 
    font-family: 'Poppins', sans-serif;
    /* z-index:0; */
     -ms-overflow-style: none; 
    scrollbar-width: none; 
    
}

.landing{
    width:100vw;
    height:100vh;
    background: linear-gradient(green,black);
    position:relative;
    padding: 0 0%;
    z-index:5;
    display:flex;
    /* align-items:center; */
    justify-CONTENT: center;

}

.back-video{
    position:absolute;
    right:0;
    /* width:100vw; */
    bottom:0;
    z-index:-1;
}


.navigation{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    padding: 20px 0%;
    display:flex;
    align-items:center;
    justify-content:space-between;


}

.navigation .logo{
    width:180px;
}

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 10; */
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #019a1a, #010310);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    position: fixed;
    /* color: #4158d0; */
    clip-path: circle(75%);
  }
  .menu-btn{
    position: fixed;
    z-index: 10;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    /* color: #4158d0; */
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #019a1a, #47d35e);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    z-index: 10;
    background: #fff;
    color: #4158d0;
  }
  #active:checked ~ .menu-btn i:before{
    z-index: 10;
    color: #4158d0;
    content: "\f00d";
  }
  .wrapper ul{
    z-index: 10;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    z-index: 10;
    color: white;
    margin: 15px 0;
  }
  .wrapper ul li a {
    z-index: 10;
    padding: 5px 30px;
    color: none;
    text-decoration: none;
    font-size: 74px;
    font-weight: 700;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 159px;
    transition: all 0.3s ease;
}
  /* .wrapper ul li a:after{
    z-index: 10;
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    color: #4158d0;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  } */
  .wrapper ul li a:hover:after{
    z-index: 10;
    color: var(-green);
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    z-index: 10;
    color: var(-green);
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }

  .catch{
    text-align: center;
  }
  
  .catch h1 {
    font-size: 106px;
    letter-spacing: 0.8rem;
    color: white;
    font-weight: 900;
    transition:0.5s;
}
.catch h1:hover{
    -webkit-text-stroke:2px white;
    color:transparent;
}

.tag{
    margin-top:3rem;
    color:white;
    font-size: 50px;
    font-weight: 600;
    word-spacing: 4rem;


}

.scroll-link {
    z-index:-1;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    height:70px;
    animation: moveUpDown 2s infinite;
    filter: invert(1) brightness(100%);
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

@media (max-width: 768px) {
    .wrapper ul {
        z-index: 10;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
        list-style: none;
        text-align: center;
    }
    .catch h1 {
        font-size: 2rem;
    }
    .catch .tag {
        font-size: 1rem;
    }
    .scroll-link {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        height:50px;
        animation: moveUpDown 2s infinite;
        filter: invert(1) brightness(100%);
    }
    .wrapper ul li a {
        font-size: 26px;
        line-height: 68px;
        padding: 5px 0px;
    }
}


#navLogo img{
       max-height: 64px !important;
   
    
    width: 14rem;
    position: relative;
   

} 
.back-video{
    position:absolute;
    right:0;
    bottom:0;
    z-index:-1;
}

#navbar {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0rem;
    padding-right:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
    height: 5rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
#navLinks {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

#navLinks a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
}

#navLinks a:hover {
    text-decoration: underline;
    text-underline-position: from-font;
}
#menu {
    background: transparent;
    border: none;
    display: none;
    color: var(--text-color);
}

#navLogo{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 5px;
}
#sidebar {
    display: flex;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    padding: 3rem;
    flex-direction: column;
    row-gap: 2rem;
    background: #edeae5;
    transition: all 0.5s;
    box-shadow: 100rem 0 0 200rem #2c181000;
}


#menu:focus ~ #sidebar {
    box-shadow: 100rem 0 0 200rem #2c181099;
    left: 0;
}

#sidebar:active {
    box-shadow: 100rem 0 0 200rem #2c181099;
    left: 0;
}


#sidebar a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-sans);
    font-size: 1.25rem;

}
#cardbody{
    position: relative;
    top: 5rem;
        /* padding: 50px; */
    z-index: -1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
/*     padding: 50px; */
    padding-top: 10px;
    margin:0;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollable-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}


#containercard{
    margin: 20px;
    display: flex;
    direction: row;
    justify-content: center;
    text-wrap: wrap;

}
#vp{
    display: flex;
    justify-content: center;
}
#card {
    margin-top: 25px;
    width: 250px;
    height: 350px;
    text-align: center;
    box-shadow: 25px 20px 80px -16px var(--green);
    margin-left: 50px;
    background: rgba(0, 0, 0, 0.8);
}

#heading{
    border-bottom: 5px #06ce78 solid;
    width: 180px;
    color: #06ce78;
}
#photo{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    height: 150px;
}
#circle{
    top: 10px;
    height: 150px;
    width: 150px;
    z-index: 3;
    border-radius: 50%;
    border: #06ce78 solid;
    background-size: cover;
}

#footerContainer {
    width: 100%;
    background: black;
    padding-top: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-button:2.5rem;
}

#footer {
    
    padding: 1rem 2rem;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footerLinks {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    border-bottom: solid #ddd2 0.1rem;
    column-gap: 6rem;
    justify-content: space-between;
}

#newsletter {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    align-self:flex-start;
    margin-left: 10%;
}

#newsletter span {
    color: white;
    font-size: 0.9rem;
    opacity: 0.5;
}

#newletterSub {
    display: flex;
    flex-direction: row;
    border-radius: 4rem;
    height: 2.5rem;
    margin: 1rem 0;
    background-color: white;
    overflow: hidden;
}

#newletterSub input[type=email] {
    width: 100%;
    padding: 0 1.5rem;
    height: 2.5rem;
    margin: 0;
    border: none;
    outline: navajowhite;
    font-weight: 600;
}

#newletterSub input[type=email]::placeholder {
    font-weight: 500;
    color: var(--light-gray);
}

#newletterSub input[type=email] {
    width: 100%;
}

#newletterSub input[type=button] {
    padding: 0 2rem;
    color: white;
    border: none;
    background: var(--green);
    border-radius: 4rem;
    font-weight: 500;
    cursor: pointer;
}

.footerLinksBlock {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 20%;
    color: white;
    size: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footerLinksBlock > span:nth-child(1) {
    color: white;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.footerLinksBlock a {
    color: #fff8;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.footerLinksBlock a:hover {
    text-decoration: underline;
    color: #fffc;
    text-underline-position: from-font;
}

#address span.material-symbols-outlined {
    color: var(--green);
    font-variation-settings:
    'FILL' 1,
    'wght' 900,
    'GRAD' 0,
    'opsz' 24;
    font-size: 1.2rem;
    transform: translate(-0.1rem, 0.25rem);

}

.tagline_responsive{
    display:none;
}

#address span {
    color: #fff8;
    font-size: 0.9rem;
    font-weight: 400;
}

#footerSocials {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    column-gap: 1rem;

}

#footerSocials a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
    background: var(--green);
    border-radius: 0.5rem;
    margin-top: 1rem;
    transition: all 0.2s;
}

#footerSocials a:hover {
    transform: scale(1.1);
}

#footerSocials a img {
    height: 0.9rem;
    width: 0.9rem;
    object-fit: contain;
}
.footerContainerRes{
    display:none;
}

@media screen and (max-width: 900px) {
    :root{
        font-size: small;
    }
}
@media screen and (max-width: 768px) {
    #menu {
        background: transparent;
        border: none;
        display: flex;
        color: var(--text-color);
    }
    #navLinks {
        display: none;
        flex-direction: row;
        column-gap: 2rem;
    }
    #containercard{
        flex-wrap: wrap;
    }


    #vp{
        text-align: center;
        z-index:-10;
    }
    #navLogo img{
        position:absolute;
        right:0%;
        height:40px;
        top:15%;
        max-width:120px;
    
    }

    #card{
        margin-top: 25px;
        width: 250px;
        height: 350px;
        text-align: center;
        box-shadow: 25px 20px 80px -16px var(--green);
        border-radius: 16px;
        margin-left: 0px;
    }

    #footerContainer {
    width: 100vw;
    background: black;
    display: none;
    flex-direction: column;
    /* align-items: center; */
}

#footerLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    border-bottom: solid #ddd2 0.1rem;
    column-gap: 6rem;
    justify-content: space-between;
}

.tagline{
    display:none;
}
.tagline_responsive{
    display:flex;
    color:white;
    font-size:0.8rem;
    position:relative;
    left:6%;
}

#newsletter{
    position: absolute;
    left: 16%;

}

#newsletter img{
    width:50vw;
    height:15vh;
}

#footer{
    width:100%;
}

.footerLinksBlock {
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    align-items: center;
    max-width: 100%;
    color: white;
    size: 20px;
}


.footerContainerRes{
        display: flex;
        width:100%;
        color:white;
        padding-top: 12rem;
        background:black;
        flex-direction:column;
        justify-content: center;

    }
    .shareimg{
        background: url(assets/Logo_Share_2.png);
              width: 54vw;
    position: relative;
    left: 24%;
        display:inline-block;
        margin:0;
        height:90px;
   

    background-size: 90% 100%; /* Ensure the background image covers the entire div */
    background-position: center; 
    background-repeat: no-repeat;
        


    }

    .taglinelineres{
        margin-top:1rem;
        margin-bottom:1rem;
        color:white;
        font-weight: 30;
        text-align: center;
        width:100%;
        
    }
    .contupbutton{
        width:100%;
        color:white;
        justify-content: space-between;
        text-align: center;
        margin-bottom:1rem;
    }
    .contupbutton a {
        color:var(--green);
    }
    /* .updates,.buttonupdate{
        display: inline-block;
    }
    .updates{
       text-align: center;
    } */

    
    .footerContainerRes a{
       color:var(--green);
       text-decoration: none;

    }
    .last{
        display: flex;
        width:100%;
        flex-direction: row;
    }

    .quick{ 
        width:50vw;
        align-items: center;
        justify-content: center;
        text-align: center;
       

    }
    .office{
        width:50vw;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right:2rem;
    }
    .line{
        margin-top:1rem;
        width:90vw;
        height:2px;
         background: var(--green);
        position: relative;
        left:5%;
    }
    .iconslast{
        align-items: center;
        justify-content: center;
        text-align:center;
        letter-spacing: 1rem;
        font-size:2rem;
    }

    .iconslast a{
        color:var(--green) !important;
    }

    
}
